<style>
        .LikLoad {
            font-family: Verdana, Geneva, Tahoma, sans-serif
        }
    </style>

        <div class="fixed-sidebar-left">
            <ul class="nav navbar-nav side-nav nicescroll-bar">
                <li>
                    <a href="/Home/Index" class="LikLoad"><i class="zmdi zmdi-landscape mr-20"></i>@Resources.Resource.Dashboard</a>
                </li>
                

            </ul>
        </div>




