@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Resources.Resource.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Resources.Resource.LockedOut</h1>
    <h2 class="text-danger">@Resources.Resource.ThisAccountHasBeenLocked</h2>
</hgroup>
