

.btnSearch {
    background-color: #D16587 !important
}

.btnExport {
    background-color: #E41B17 !important
}

.btnFav {
    background-color:#382D2C !important;    
}

.panel-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.panel-footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.panel-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.dt-button {
    display: none !important;
}
.panel-heading {
    background-color: #34495E
}
.panel-title txt-light {
    font-weight: bold
}
.modal-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.modal-footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.modal-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.modal-header {
    background-color: #34495E
}

.btnDetail {
    transition-duration: 0.4s;
}

    .btnDetail:hover {
        background-color: white !important;
        border: 1px solid #D16587 !important;
    }

.btnDetail {
    background-color: #D16587 !important
}


.btnDelete {
    transition-duration: 0.4s;
}

    .btnDelete:hover {
        background-color: white !important;
        border: 1px solid #E41B17 !important;
    }

.btnDelete {
    background-color: #E41B17 !important
}

.btnAttach {
    transition-duration: 0.4s;
}


    .btnAttach:hover {
        background-color: white !important;
        border: 1px solid #382D2C !important;
    }

.btnAttach {
    background-color: #382D2C !important
}


.btnFreez {
    transition-duration: 0.4s;
}


    .btnFreez:hover {
        background-color: white !important;
        border: 1px solid #E41B17 !important;
    }

.btnFreez {
    background-color: #E41B17 !important
}





